<div class="keyboard">

  <div class="keyboardDeleteGroup">
    <input (click)="toClear()" class="button button-delete" type="button" value="DEL">
    <input class="button button-erase" type="button" value="Backspace">
  </div>

  <div class="keyboardNumAndSign">
    <div>
      <div class="keyboardGroups" *ngFor="let iter of arrButton; let idx = index">
        <div class="keyboardNumber-{{num}}" *ngFor="let num of arrButton[idx]">
          <input (click)="addSign($event.target.value)" class="button button-{{num}}" value="{{num}}" type="button">
        </div>
      </div>

      <div class="keyboardSignGroup">
        <input (click)="addSign($event.target.value)" class="button button-0" type="button" value="0">
        <input class="button button-decimal" type="button" value=",">
        <input (click)="toEquals()" class="button button-equals" type="button" value="=">
      </div>
    </div>

    <div>
      <div class="keyboardSigns">
        <input (click)="addSign($event.target.value)" class="button button-division" type="button" value="/">
        <input (click)="addSign($event.target.value)" class="button button-multiplication" type="button" value="*">
        <input (click)="addSign($event.target.value)" class="button button-minus" type="button" value="-">
        <input (click)="addSign($event.target.value)" class="button button-plus" type="button" value="+">
      </div>
    </div>
  </div>